<header>header</header>
 <div id='main'>
    <article>

      <h1>Welcome#index</h1>
      <p>Find me in app/views/welcome/index.html.erb</p>


    </article>
    <nav>nav</nav>
    <aside>aside</aside>
 </div>
 <footer>footer</footer>
